extends ../layout

block content

	-if(messages.length)
		span.error #{messages}

	form(method="POST")
		input(name="username" placeholder="username")
		input(name="password" placeholder="password" type="password")
		button Login