extends ../layout

block content
	form(method="POST")
		input(name="username" placeholder="username")
		input(name="email" placeholder="Email")
		input(name="password" placeholder="Password")
		input(name="conf-password" placeholder="Confirm password")
		button Submit
		