extends ../layout

block content
  .d-flex.flex-grow-1
    .lists-container.d-flex.flex-column.bg-light.p-4
      div.d-flex.justify-content-between
        h3 Lists
        a.btn.btn-success(href="/lists/new")
          i.fas.fa-plus
      div.pt-4.lists
        each list in lists
          a.btn(href="/lists/" + list.name class="btn").card.card-success
            h4= list.name

    .tasks.flex-grow-1.p-2
      h3 Tasks
      table.table.table-light.table-hover
        thead
          tr 
            th Name
            th
              a.btn.btn-primary(href="/lists/" + list + "/new") Add
        tbody
          each task in tasks
            tr
              td(colspan="2")= task.name