extends ../layout

block content
  script(src="/scripts/list.js")

  .d-flex.flex-grow-1

    .tasks.flex-grow-1.p-5
      
      .d-flex.justify-content-between.mb-2
        h3 Tasks
        a.btn.btn-primary(href="/lists/" + list + "/new") Add
      
      table.table.table-hover(style="table-layout: auto;")
        thead
          tr 
            th In Progress
            th
            th
        tbody
          each task in tasks
            if !task.complete
              tr
                td(colspan="2")
                  .btn.btn-danger.mr-3.delete-task(data-task-id=task.id)
                    i.p-0.fas.fa-times
                  = task.name
                td.fit.text-center
                  button.completed-unchecked.complete-checkbox(type="checkbox" data-task-id=task.id checked="false")

      table.table.table-hover(style="table-layout: auto;")
        thead
          tr 
            th Completed
            th 
            th 
        tbody
          each task in tasks
            if task.complete
              tr
                td(colspan="2")
                  .btn.btn-danger.mr-3.delete-task(data-task-id=task.id)
                    i.p-0.fas.fa-times
                  = task.name
                td.fit.text-center
                  button.completed-checked.complete-checkbox(type="checkbox" data-task-id=task.id checked="true") 
                    i.fas.fa-check