extends ../layout

block content
	.container.card.m-auto.shadow-hover
		form.card-body(method="POST")
			input(type="hidden" name="list" value=list.id) 

			h1.card-title New List

			.form-group
				label Name
				input.form-control(placeholder="Title" autocomplete="off" name="name")

			.form-group
				label Color
				select.form-control(name="color")
					option(value="green") Green
					option(value="blue") Blue
					option(value="yellow") Yellow
					option(value="red") Red

			.form-group.d-flex.justify-content-center
				button.btn.btn-success Save
