extends layout

block content
  .d-flex.flex-grow-1
    .lists-container.d-flex.flex-column.bg-light.p-4
      div.d-flex.justify-content-between
        h3 Lists
        a.btn.btn-success(href="/lists/new")
          i.fas.fa-plus
      div.pt-4.lists
        a(href="#").card.card-success
          h4 Homework
        div.card
          h4 Project 1

    .tasks.flex-grow-1
      h3 Tasks
      a(href="tasks/new") Add
      div