extends layout

block content
  //- .d-flex.flex-grow-1
  //-   .lists-container.d-flex.flex-column.bg-light.p-4
  //-     div.d-flex.justify-content-between
  //-       h3 Lists
  //-       a.btn.btn-success(href="/lists/new")
  //-         i.fas.fa-plus
  //-     div.pt-4.lists
  //-       each list in lists
  //-         a.btn(href="/lists/" + list.name class='bg-' + list.color).card.card-success.mb-2.shadow-hover
  //-           span(style="font-size: 1.5rem;")= list.name

  .tasks.flex-grow-1
    p Select a list from the left panel