doctype html
html
  head
    title Todo
    
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.5.0.min.js' integrity='sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')

    script(src="https://kit.fontawesome.com/a3e16a55f4.js" crossorigin="anonymous")

    //- Custom -// 
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/scripts/layout.js")

  body.d-flex.flex-column
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-primary.shadow
        .d-flex.justify-content-center
          if user
            #sidebarCollapse.align-self-center.text-light
              i.fas.fa-align-justify
          a.navbar-brand.h3.m-0.ml-3(href="/") Todo
    
    main.d-flex.flex-grow-1.w-100
      if user
        #sidebar.bg-light.p-2
          .btn.btn-outline-info#dismiss
            i.fas.fa-arrow-left
          div.d-flex.flex-column.mb-3
            h1.sidebar-header Lists
            a.align-self-center.btn.btn-success(href="/lists/new")
              i.fas.fa-plus
          if lists
            each list in lists
              .d-flex.justify-content-between.list.mb-2.shadow-hover(data-link="/lists/" + list.name class='bg-' + list.color)= list.name
                i.fas.fa-ellipsis-h.align-self-center.list-menu(id=list.id data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                .dropdown-menu(aria-labelledby="listId:"+ list.id)
                  a.dropdown-item(href="/lists/edit/" + list.id) Edit
                  .dropdown-item.delete-list(data-id=list.id) Delete
      .content.flex-grow-1.pt-5
        block content
    if user
      .overlay