doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/custom.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://kit.fontawesome.com/a3e16a55f4.js" crossorigin="anonymous")
  body.d-flex.flex-column

    header.bg-primary.shadow.text-light.p-1
      h2 TODO
    main.d-flex.flex-grow-1
      block content
