body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: var(--light);
}

a {
  color: #00B7FF;
}

.lists-container {
  width: 20%;
}