body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;
}

main {
  align-items: stretch;
}

/* Task */

.task-menu {
  font-size: 1.5rem;
  color: #cecece;

  transition: all 0.1s;
}
.delete-task {
  cursor: pointer;
}

.task-menu:hover {
  color: var(--dark);
}

/* List item */
.list {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.list-menu {
  font-size: 1.25rem;
}

.list-menu:hover {
  color: black;
}

/* Sidebar */
#sidebar {
  min-width: 300px;
  max-width: 300px;
  left: 0;

  transition: all 0.3s;
}

#dismiss {
  display: none;
}

#sidebarCollapse {
  display: none;
  font-size: 1.5rem;
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
  opacity: 1;
}

@media (max-width: 768px) {
  #sidebarCollapse {
    display: block;
  }

  #sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 9999;
  }

  #sidebar.active {
    left: 0;
  }
  
  #dismiss {
    display: block;
    /* width: 35px;
    height: 35px; */
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .overlay {
    display: none;
    position: fixed;
  
    width: 100vw;
    height: 100vh;
  
    background: rgba(0, 0, 0, 0.7);
  
    z-index: 9998;
    opacity: 0;
  
    transition: all 0.5s;
  }
}

.completed-unchecked {
  width: 25px;
  height: 25px;
  padding: 0px;


  border-radius: 15px;
  border: 1px var(--primary) solid;
  background-color: transparent;
}

.completed-checked {
  width: 25px;
  height: 25px;
  padding: 0px;


  border-radius: 15px;
  border: 1px var(--primary) solid;
  background-color: transparent;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.shadow-hover {
	transition: box-shadow 0.2s;
}
.shadow-hover:hover {
	box-shadow: 0px 0px 5px #adadad;
}