body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
}

a {
  color: #00B7FF;
}

.lists-container {
  width: 20%;
}

.completed-unchecked {
  width: 25px;
  height: 25px;
  padding: 0px;


  border-radius: 15px;
  border: 1px var(--primary) solid;
  background-color: transparent;
}

.completed-checked {
  width: 25px;
  height: 25px;
  padding: 0px;


  border-radius: 15px;
  border: 1px var(--primary) solid;
  background-color: transparent;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}