extends ../layout

block content
	.container.card.m-auto.shadow-hover
		form.card-body(method="POST")
			input(type="hidden" name="list" value=listId) 

			h1.card-title New Todo
			.form-group
				label(for="titleInput") Title
				input.form-control#titleInput(name="name")
			.form-group
				button.btn.btn-success Add